<div class="panel <%= Time.now >= task.deadline ? 'panel-danger' : 'panel-success' %>">
  <div class="panel-heading">タスク <%= task.id %></div>
  <div class="panel-body">
    <p>
      <strong><%= task.title %></strong>
    </p>

    <p>
      <strong>期限:</strong>
      <%= task.deadline.to_date %>
    </p>

    <p>
      <strong>担当者:</strong>
      <%= task.user&.name || 'No Assign' %>
    </p>

    <p>
      <strong>ステータス:</strong>
      <%= task.status %>
    </p>
    <%= link_to '詳細', task, class: 'btn btn-default' %>
    <% if task.creator_id == current_user.id %>
      <%= link_to '編集', edit_task_path(task), class: 'btn btn-info' %>
      <%= link_to "削除", task, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>