<div class="panel <%= Time.now >= task.deadline ? 'panel-danger' : 'panel-success' %>">
  <div class="panel-heading">Task <%= task.id %></div>
  <div class="panel-body">
    <p>
      <strong><%= task.title %></strong>
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= task.deadline.to_date %>
    </p>

    <p>
      <strong>Assigned User:</strong>
      <%= task.user&.name || 'No Assign' %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= task.status %>
    </p>
    <%= link_to 'Detail', task, class: 'btn btn-default' %>
    <% if task.creator_id == current_user.id %>
      <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-info' %>
      <%= link_to "Destroy", task, method: :delete, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>