<p style="color: green"><%= notice %></p>
<h1>Configure</h1>
<div class="row">
  <div class="col-md-6">
    <p>Currently Assigned user</p>
    <p><%= @task.user&.name || 'No Assign' %></p>
    <% if @task.creator_id == current_user.id %>
      <%= button_tag 'Assign', class: 'btn btn-success submit-assign' %>
    <% end %>
  </div>
  <% if @task.creator_id == current_user.id %>
    <div class="col-md-6">
      <%= simple_form_for @task do |f| %>
        <%= f.input :user_id, collection: User.all, label: 'New Assigned user' %>
        <%= f.button :submit, style: 'display: none' %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="pannel">
  <h1><%= @task.title %></h1>

  <p>
    <%= @task.content %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @task.deadline.to_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @task.status %>
  </p>
</div>

<script>
  $('.submit-assign').click(function() {
    $('form').submit();
  });
</script>